# Objetivo

O objetivo desse estudo é a analise dos dados para verificar as possíveis variaveis que influenciam na comportamento de um usuário ao ele pedir crédito. O principal intuito desse estudo, é tentar reduzir ao máximo a perca de renda ao dar crédito a um possível inadimplente 

[O fonte dos dados desse estudo se encontram aqui: ](https://www.kaggle.com/c/home-credit-default-risk/data)

#### Importação das principais bibliotecas

Para inicio, não desejamos uma análise descritiva, portanto lidaremos mais com os dados cru e pouca vizualização para ser localizada as variaveis que influenciam no comportamento do individuo

In [1]:
import pandas as pd
import numpy as np

#### application_{train|test}.csv
---

This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).
Static data for all applications. One row represents one loan in our data sample.

Esta é a tabela principal, dividida em dois arquivos para o **Treino** *(com VARIAVEL RESPOSTA)* e **Teste** *(sem VARIAVEL RESPOSTA)*. 

Com dados estáticos para todos as aplicações. Cada linha representa um empréstimo em nossa amostra de dados.

In [2]:
path = 'C:/Users/kevin/Documents/Python/TCC'

In [3]:
appl_test_set = pd.read_csv(path+'/Credit Risk/application_test.csv')
appl_train_set = pd.read_csv(path+'/Credit Risk/application_train.csv')

#### bureau.csv
---

*All client's previimport credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).*
*For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.*

* Todos os créditos anteriores de todos os clientes fornecidos por outras instituições financeiras que foram reportadas ao *Biro de Crédito*  (para clientes que têm um empréstimo em nossa amostra).
* Para cada empréstimo em nossa amostra, há a mesma quantidade de linhas dos número de créditos que o cliente tinha no *Biro de Crédito* antes da data da aplicação.

In [4]:
biro = pd.read_csv(path+'/Credit Risk/bureau.csv')

#### bureau_balance.csv

*Monthly balances of previous credits in Credit Bureau.*
*This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.*


* Saldos mensais de créditos anteriores no Credit Bureau (Biro de Crédito).
* Esta tabela tem uma linha para cada mês da história de cada crédito precedente relatado ao departamento de crédito - isto é a tabela tem (#Amostra de empréstimos * de créditos precedentes relativos * # dos meses onde nós temos alguma história observável para os créditos precedentes) linhas.

In [5]:
biro_saldo = pd.read_csv(path+'/Credit Risk/bureau_balance.csv')

#### POS_CASH_balance.csv

*Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.*

* Instantâneos mensais do contrapeso do POS precedente (ponto das vendas) e dos empréstimos de dinheiro que o pretendente teve com crédito Home.
* Esta tabela tem uma linha para cada mês da história de cada crédito precedente no crédito Home (crédito de consumidor e empréstimos de dinheiro) relativos aos empréstimos em nossa amostra - isto é a tabela tem (#loans na amostra * de créditos precedentes relativos * # dos meses em que nós temos alguma história observável para as fileiras precedentes dos créditos).

In [6]:
pos_cash_saldo = pd.read_csv(path+'/Credit Risk/POS_CASH_balance.csv')

#### credit_card_balance.csv

*Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our 'sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.*

* Instantâneos mensais do contrapeso de cartões de crédito precedentes que o pretendente tem com crédito Home.
* Esta tabela tem uma linha para cada mês da história de cada crédito precedente no crédito Home (crédito de consumidor e empréstimos de dinheiro) relativos aos empréstimos em nossa amostra - isto é a tabela tem (#loans na amostra * de cartões de crédito precedentes relativos * # dos meses onde nós temos alguma história observável para as fileiras precedentes do cartão de crédito).

In [7]:
credito_saldo = pd.read_csv(path+'/Credit Risk/credit_card_balance.csv')

#### previous_application.csv

*All previous applications for Home Credit loans of clients who have loans in our sample.
There is one row for each previous application related to loans in our data sample.*

* Todos os pedidos anteriores de empréstimos de crédito à habitação de clientes que têm empréstimos em nossa amostra.
* Há uma linha para cada pedido anterior relacionado a empréstimos em nossa amostra de dados.

In [8]:
#aplic_ant == aplicação anterior
aplic_ant = pd.read_csv(path+'/Credit Risk/previous_application.csv')

### installments_payments.csv

*Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
There is a) one row for every payment that was made plus b) one row each for missed payment.
One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.*

* Histórico de reembolso para os créditos anteriormente desembolsados em Crédito À Habitação relacionados com os empréstimos em nossa amostra.
* Há a) uma linha para cada pagamento que foi feito mais b) uma linha cada um para o pagamento faltado.
* Uma linha é equivalente a um pagamento de uma parcela ou uma parcela correspondente a um pagamento de um crédito home precedente relativo aos empréstimos em nossa amostra.

In [9]:
#pag_atrasado == pagamento atrasado
pag_atrasado = pd.read_csv(path+'/Credit Risk/installments_payments.csv')

### HomeCredit_columns_description.csv

*This file contains descriptions for the columns in the various data files.*

* Este arquivo contém descrições para as colunas nos vários arquivos de dados.

![title](https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png)

# PARTE 1:
## Análise estatística para as variaveis da base de dados: Appl_train_set

Como demonstrado na imagem acima, sabemos que o principal arquivo a ser analisado será o Application_train, pois neles se encontram as principais variaveis de analise e a variavel resposta, sendo as outras bases para o enriquecimento do treino

In [10]:
appl_test_set.Name = "Base de Teste"
appl_test_set.head(5)

appl_train_set.Name = "Base de Treino"
appl_train_set.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
print('O dataframe: {} contêm {} linhas e {} colunas.'.format( appl_train_set.Name , str(appl_train_set.shape[0]), appl_train_set.shape[1]))

porc = appl_train_set.shape[0]/(appl_train_set.shape[0] + appl_test_set.shape[0])
print('\nSendo a base de treino equivalente a {}% do total de amostras'.format( str( round(porc*100, 2) ) ))

O dataframe: Base de Treino contêm 307511 linhas e 122 colunas.

Sendo a base de treino equivalente a 86.32% do total de amostras

In [12]:
pd.DataFrame(appl_train_set).select_dtypes( include = ['int64', 'float64']).copy()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [13]:
pd.options.display.max_columns = 150
pd.options.display.max_rows = 150

### Teste das logisticas

In [23]:
pd.DataFrame(appl_train_set.dtypes).sort_values(0)

                                    0
SK_ID_CURR                      int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_8                 int64
REGION_RATING_CLIENT            int64
REGION_RATING_CLIENT_W_CITY     int64
FLAG_DOCUMENT_7                 int64
REG_REGION_NOT_LIVE_REGION      int64
REG_REGION_NOT_WORK_REGION      int64
LIVE_REGION_NOT_WORK_REGION     int64
REG_CITY_NOT_LIVE_CITY          int64
REG_CITY_NOT_WORK_CITY          int64
LIVE_CITY_NOT_WORK_CITY         int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_2                 int64
FLAG_WORK_PHONE                 int64
FLAG_EMP_PHONE                  int64
HOUR_APPR_PROCESS_START         int64
FLAG_DOCUMENT_10                int64
FLAG_MOBIL                      int64
TARGET                          int64
CNT_CHILDREN                    int64
FLAG_DOCUMENT_21                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_12                int64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_11                int64
DAYS_ID_PUBLISH                 int64
NONLIVINGAREA_MODE            float64
FLOORSMIN_MEDI                float64
FLOORSMAX_MEDI                float64
ENTRANCES_MEDI                float64
ELEVATORS_MEDI                float64
YEARS_BEGINEXPLUATATION_MEDI  float64
YEARS_BUILD_MEDI              float64
BASEMENTAREA_MEDI             float64
APARTMENTS_MEDI               float64
LANDAREA_MEDI                 float64
COMMONAREA_MEDI               float64
LIVINGAPARTMENTS_MEDI         float64
DAYS_LAST_PHONE_CHANGE        float64
NONLIVINGAPARTMENTS_MEDI      float64
NONLIVINGAREA_MEDI            float64
TOTALAREA_MODE                float64
OBS_30_CNT_SOCIAL_CIRCLE      float64
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
NONLIVINGAPARTMENTS_MODE      float64
LIVINGAREA_MEDI               float64
LIVINGAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE  float64
LANDAREA_MODE                 float64
COMMONAREA_AVG                float64
YEARS_BUILD_AVG               float64
YEARS_BEGINEXPLUATATION_AVG   float64
LIVINGAPARTMENTS_MODE         float64
APARTMENTS_AVG                float64
EXT_SOURCE_3                  float64
EXT_SOURCE_2                  float64
ELEVATORS_AVG                 float64
EXT_SOURCE_1                  float64
OWN_CAR_AGE                   float64
DAYS_REGISTRATION             float64
REGION_POPULATION_RELATIVE    float64
AMT_GOODS_PRICE               float64
AMT_ANNUITY                   float64
AMT_CREDIT                    float64
AMT_INCOME_TOTAL              float64
CNT_FAM_MEMBERS               float64
ENTRANCES_AVG                 float64
BASEMENTAREA_AVG              float64
YEARS_BUILD_MODE              float64
FLOORSMIN_MODE                float64
FLOORSMAX_MODE                float64
ENTRANCES_MODE                float64
ELEVATORS_MODE                float64
COMMONAREA_MODE               float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
BASEMENTAREA_MODE             float64
APARTMENTS_MODE               float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
NONLIVINGAPARTMENTS_AVG       float64
LIVINGAREA_AVG                float64
LIVINGAPARTMENTS_AVG          float64
LANDAREA_AVG                  float64
FLOORSMAX_AVG                 float64
NONLIVINGAREA_AVG             float64
FLOORSMIN_AVG                 float64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
EMERGENCYSTATE_MODE            object
FONDKAPREMONT_MODE             object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
HOUSETYPE_MODE                 object
OCCUPATION_TYPE                object
WEEKDAY_APPR_PROCESS_START     object
ORGANIZATION_TYPE              object
NAME_TYPE_SUITE                object
WALLSMATERIAL_MODE             object